.demo-layout-transparent {
  background: url('images/image3.jpg') center / cover;
  color: #fff;
}

#banner_text p{
	font-size: 40px;
	padding-top: 200px;
	font-weight: bold;
}
.mdl-cell--7-col-destop p{
	font-size: 80px;
	line-height: 1.5em;
	padding-left: 20px;
}

.demo-card-square{
	margin-left: 100px;
	width: 400px;
	border-radius:10px;
}
#application-form{
	text-align: center;
	padding:15px;
}
#application-form .mdl-textfield__input{
	border-color:#ccc;
}
#application-form .mdl-textfield__label{
	color:slategrey;
}
#application-form a{
	text-decoration: none;
}
#application-form button{
 	border-radius: 5px;
}

#rental-calculator, {
	background-color: #e4f1fe;
	color: #fff;
}

#about_us{
	margin: 20px auto;
	width: 1215px;
}
.mdl-card{
	background: rgb(82, 91, 106);
}
#about_us .mdl-card__media{
 	background-color: rgb(82, 91, 106);
}
.mdl-card__media img{
	width: 100%;
}
#about_text{
	font-size: 15px;
	line-height: 1.5em;
} 

#why_spacebook h3{
	text-align: center;
}
.section--footer{
	border-radius: 15px;
}
 .mdl-mini-footer{
 	background-color: fuschia;
 	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
 }